@use '../../../lib/functions/_index' as *;
@use '../../../lib/mixins/_index' as *;

.p-login {
  &-form {
    @include rem('pt', 20, 20);
    @include rem('pl', 20, null);
    @include rem('pr', 20, null);
    @include rem('pb', 30, 30);
    background: #fff;
    border: 1px solid palette('border', 'l1');
    border-radius: 6px;

    &:nth-of-type(2) {
      @include rem('mt', null, 50);
    }
  }

  &-signup {
    @include rem('mt', 30, 30);
    @include rem('pl', null, 20);
    @include rem('pr', null, 20);
    text-align: center;
  }

  @include media(md) {
    &-container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &-form {
      width: 480px;
    }
  }
}
