@use '../lib/functions/_index' as *;
@use '../lib/mixins/_index' as *;

.l-footer {
  background: palette('gray', 'd1');

  &__inner {
    @include rem('pt', 30, 30);
  }

  &__links {
    display: flex;
    gap: 15px 30px;
    justify-content: center;
    @include rem('pl', null, 20);
    @include rem('pr', null, 20);

    a {
      @include font(14, 14);
      font-weight: bold;
      color: #fff;
    }
  }

  &__copyright {
    color: #fff;
    text-align: center;
    background: palette('black');
    @include rem('mt', 30, 25);
    @include rem('pt', 5, 5);
    @include rem('pb', 5, 5);
    @include font(14, 12);
  }

  @include media(sm) {
    &__links {
      flex-wrap: wrap;

      li {
        width: calc(100% / 2 - 15px);
      }
    }
  }
}
