@use '../../../lib/functions/_index' as *;
@use '../../../lib/mixins/_index' as *;

.p-mypage-card {
  display: flex;
  background: #fff;
  border: 1px solid palette('border');
  border-radius: 4px;

  > a {
    display: block;
    width: 100%;
    @include rem('pt', 20, 20);
    @include rem('pl', 20, 15);
    @include rem('pr', 20, 15);
    @include rem('pb', 30, 20);
  }
}
